<div class="container">
    <h1>New review</h1>

    <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :rating, label: "Rating", collection: 0..5 %>
    <%= f.input :content, label: "Content" %>
    <%= f.submit %>
    <% end %>
</div>


